# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
build/

# Testing
coverage/

# Misc
.cache
.temp
.tmp

# Postman Collections
*.postman_collection.json

# Documentation
docs/

# Windows user directories and system files
AppData/
3D Objects/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
NTUSER.DAT*
ntuser.dat*
ntuser.ini

# User config files
.aws/
.bito/
.bitowingman/
.cache/
.codeium/
.config/
.continue/
.cursor/
.esd_auth
.gitconfig
.lesshst
.local/
.npmrc
.ollama/
.pulse-cookie
.pulse/
.ssh/
.th-client/
.void-editor/
.android/
